*.pyc
*.ipynb
*.pth
*.DS_Store
*.csv
*.pt
*.mp4
/test/.ipynb_checkpoints
*.cpython-311.pyc
*/__pycache__/*
*/checkpoints_videos/*
/test/checkpoints/*
/test/video/*
/test/videos/*
/test/checkpoints_videos/*
/test/checkpoints_test_run
/test/runs
/test/logs
/test/checkpoints
/test/train_script.sh
/second_prototype/logs/
/third_prototype/logs/
/third_prototype/video/
/old/