*.pyc
*.ipynb
*.pth
*.DS_Store
*.csv
/test/.ipynb_checkpoints
*.cpython-311.pyc
*/__pycache__/*
*/checkpoints_videos/*
/test/checkpoints/*
/test/video/*
/test/videos/*
/test/checkpoints_videos/*
/test/checkpoints_test_run
/test/runs
/test/logs
/test/checkpoints
